#piano{
    width: 100%;
    background-color: powderblue;
    height: 300px;
    position: relative;
    border: 50px;
}

#whitekeys{
    position:absolute;
    height: 100%;
    display: flex;
}

#blackkeys{
    position: absolute;
    left: 20px;
    height: 60%;
    display: flex;
    pointer-events: none;
}

.blackSpacer{
    margin: 0px 5px 0px 5px;
    width: 30px;
    pointer-events: none;
}

.whiteKey{
    background-color: white;
    
    width: 40px;
}

.blackKey{
    background-color: black;
    margin: 0px 5px 0px 5px;
    width: 30px;
    pointer-events: auto;
}
